
<div class="row">
    <?php //echo $sample; ?>
<div class="col-sm-12">
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">フレッツ</div>
            </div>
            <div class="panel-body">
                <form action="/upload" id="dropzonejs" class="dropzone-box dz-clickable" style="">
                <div class="dz-default dz-message">
                    <div class="dz-upload-icon"></div>
                    ファイルをドロップ<br>
                    <span class="dz-text-small">or click to pick manually</span>
                </div>
                
                </form>
            </div>
        </div>
    </div>
     <div class="col-sm-3">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">Toppa!</div>
            </div>
            <div class="panel-body">
                <form action="/upload" id="dropzonejs" class="dropzone-box dz-clickable">
                <div class="dz-default dz-message">
                    <div class="dz-upload-icon"></div>
                    ファイルをドロップ<br>
                    <span class="dz-text-small">or click to pick manually</span>
                </div>
                
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">Dropzone</div>
            </div>
            <div class="panel-body">
                <form action="/upload" id="dropzonejs" class="dropzone-box dz-clickable">
                <div class="dz-default dz-message">
                    <div class="dz-upload-icon"></div>
                    ファイルをドロップ<br>
                    <span class="dz-text-small">or click to pick manually</span>
                </div>
                
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">Dropzone</div>
            </div>
            <div class="panel-body">
                <form action="/upload" id="dropzonejs" class="dropzone-box dz-clickable">
                <div class="dz-default dz-message">
                    <div class="dz-upload-icon"></div>
                    ファイルをドロップ<br>
                    <span class="dz-text-small">or click to pick manually</span>
                </div>
                
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">Dropzone</div>
            </div>
            <div class="panel-body">
                <form action="/upload" id="dropzonejs" class="dropzone-box dz-clickable">
                <div class="dz-default dz-message">
                    <div class="dz-upload-icon"></div>
                    ファイルをドロップ<br>
                    <span class="dz-text-small">or click to pick manually</span>
                </div>
                
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">Dropzone</div>
            </div>
            <div class="panel-body">
                <form action="/upload" id="dropzonejs" class="dropzone-box dz-clickable">
                <div class="dz-default dz-message">
                    <div class="dz-upload-icon"></div>
                    ファイルをドロップ<br>
                    <span class="dz-text-small">or click to pick manually</span>
                </div>
                
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">Dropzone</div>
            </div>
            <div class="panel-body">
                <form action="/upload" id="dropzonejs" class="dropzone-box dz-clickable">
                <div class="dz-default dz-message">
                    <div class="dz-upload-icon"></div>
                    ファイルをドロップ<br>
                    <span class="dz-text-small">or click to pick manually</span>
                </div>
                
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">Dropzone</div>
            </div>
            <div class="panel-body">
                <form action="/upload" id="dropzonejs" class="dropzone-box dz-clickable">
                <div class="dz-default dz-message">
                    <div class="dz-upload-icon"></div>
                    ファイルをドロップ<br>
                    <span class="dz-text-small">or click to pick manually</span>
                </div>
                
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">Dropzone</div>
            </div>
            <div class="panel-body">
                <form action="/upload" id="dropzonejs" class="dropzone-box dz-clickable">
                <div class="dz-default dz-message">
                    <div class="dz-upload-icon"></div>
                    ファイルをドロップ<br>
                    <span class="dz-text-small">or click to pick manually</span>
                </div>
                
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">Dropzone</div>
            </div>
            <div class="panel-body">
                <form action="/upload" id="dropzonejs" class="dropzone-box dz-clickable">
                <div class="dz-default dz-message">
                    <div class="dz-upload-icon"></div>
                    ファイルをドロップ<br>
                    <span class="dz-text-small">or click to pick manually</span>
                </div>
                
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">Dropzone</div>
            </div>
            <div class="panel-body">
                <form action="/upload" id="dropzonejs" class="dropzone-box dz-clickable">
                <div class="dz-default dz-message">
                    <div class="dz-upload-icon"></div>
                    ファイルをドロップ<br>
                    <span class="dz-text-small">or click to pick manually</span>
                </div>
                
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">Dropzone</div>
            </div>
            <div class="panel-body">
                <form action="/upload" id="dropzonejs" class="dropzone-box dz-clickable">
                <div class="dz-default dz-message">
                    <div class="dz-upload-icon"></div>
                    ファイルをドロップ<br>
                    <span class="dz-text-small">or click to pick manually</span>
                </div>
                
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">Dropzone</div>
            </div>
            <div class="panel-body">
                <form action="/upload" id="dropzonejs" class="dropzone-box dz-clickable">
                <div class="dz-default dz-message">
                    <div class="dz-upload-icon"></div>
                    ファイルをドロップ<br>
                    <span class="dz-text-small">or click to pick manually</span>
                </div>
                
                </form>
            </div>
        </div>
    </div>
         
</div>

<div class="col-sm-12 no-margin bordered" style="position:fixed;bottom:0;left: 0;padding-left: 230px;padding-right:0;">
    <div class="panel-body">
       <button type="button" class="btn btn-lg btn-secondary btn-flat btn-block">インポート</button>
    </div>
</div>
