<?php echo $this->Html->script('callcenter', array('inline' => false)); ?>

<h3>コールセンター情報</h3>
<button id="insert" class="btn btn-primary" type="button">新規登録</button>
<table class="table">
    <thead>
        <tr>
            <td>
                id
            </td>
            <td>
                name
            </td>
            <td>
            </td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="modal fade" id="callcenterModal" tabindex="-1">
</div>
